*{
	box-sizing: border-box;
}

.allposts{
	display: flex;
	justify-content: space-between;
	flex-basis: auto;
	flex-wrap: wrap;
    background-color: azure;
    font-style: italic;
}

.postElem{
	width: 30%;
}

.userData{
	display: flex;
	font-style: italic;
	height: auto;
	width: auto;
}

th{
	text-align: right;
}