@charset "UTF-8";
nav {
  display: flex;
  height: 100px;
  margin-left: 10%;
  margin-right: 10%; }
  nav .logo {
    display: flex;
    align-items: center;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 36px;
    color: #005FA3; }
    nav .logo img {
      width: 7%;
      margin-right: 30px; }
  nav .top-line_info {
    display: flex;
    justify-content: space-between;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    color: black;
    margin: 20px 0 20px; }
    nav .top-line_info li {
      list-style: none;
      white-space: nowrap; }
      nav .top-line_info li:not(:last-child) {
        margin-right: 30px; }
  nav .top-line_menu {
    display: flex;
    justify-content: space-between;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: black; }
    nav .top-line_menu li {
      white-space: nowrap;
      list-style: none;
      cursor: pointer; }
      nav .top-line_menu li:hover {
        text-decoration: underline; }

.first-screen {
  display: flex;
  align-items: center;
  background-image: url("../img/first_screen.jpg");
  background-size: cover;
  height: 670px; }
  .first-screen .screen {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%; }
    .first-screen .screen .screen-content {
      padding-bottom: 100px; }
      .first-screen .screen .screen-content h1 {
        width: 55%;
        padding-bottom: 60px;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 66px;
        color: #FFFFFF; }
    .first-screen .screen .controls {
      display: flex;
      align-items: center; }
      .first-screen .screen .controls .slider_btn-next, .first-screen .screen .controls .slider_btn-prev {
        display: flex;
        justify-content: center;
        align-items: center; }

section {
  background: #EBEBEB;
  padding-top: 5%;
  padding-bottom: 5%; }
  section .our-services_content {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 10%; }
    section .our-services_content h3 {
      color: #BDBDBD;
      margin-bottom: 2%; }
    section .our-services_content h2 {
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 69px;
      margin-bottom: 2%; }
    section .our-services_content .our-services {
      display: flex;
      flex-wrap: wrap; }
      section .our-services_content .our-services .our-services_item {
        display: flex;
        width: 30%;
        height: 300px;
        justify-content: center;
        align-items: flex-end;
        margin: 15px;
        background-image: url("../img/our_services.jpg");
        background-size: cover;
        background-position: center;
        cursor: pointer; }
        section .our-services_content .our-services .our-services_item span {
          width: 50%;
          color: #FFFFFF;
          font-size: 24px;
          padding-bottom: 5%; }
        section .our-services_content .our-services .our-services_item:hover {
          background: linear-gradient(rgba(0, 95, 163, 0.65), rgba(0, 95, 163, 0.65)), url("../img/our_services.jpg");
          background-size: cover;
          background-position: center; }

.our-clients {
  background: #EBEBEB; }
  .our-clients .our-clients_content {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%; }
    .our-clients .our-clients_content h3 {
      font-size: 24px;
      line-height: 33px;
      color: #BDBDBD;
      margin-bottom: 5%; }
    .our-clients .our-clients_content h2 {
      font-size: 48px;
      line-height: 69px;
      margin-bottom: 5%; }
    .our-clients .our-clients_content .clients-logo {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5%; }
      .our-clients .our-clients_content .clients-logo img {
        width: 15%; }
    .our-clients .our-clients_content .controls {
      display: flex;
      align-items: center; }
      .our-clients .our-clients_content .controls .slider_btn-next, .our-clients .our-clients_content .controls .slider_btn-prev {
        display: flex;
        justify-content: center;
        align-items: center; }

.reviews {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%; }
  .reviews h3 {
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
    margin-bottom: 5%; }
  .reviews h2 {
    font-size: 48px;
    line-height: 69px;
    margin-bottom: 5%; }
  .reviews p {
    background: #EBEBEB;
    margin: 0% 20% 0 20%; }
  .reviews .reviews-image {
    margin: 1% 20% 1% 20%;
    width: 50%; }
    .reviews .reviews-image p {
      background: #FFFFFF;
      margin: 0; }
    .reviews .reviews-image img {
      width: 15%;
      border-radius: 50%;
      background: #FFFFFF; }
  .reviews .controls {
    display: flex;
    align-items: center; }
    .reviews .controls .slider_btn-next, .reviews .controls .slider_btn-prev {
      display: flex;
      justify-content: center;
      align-items: center; }
    .reviews .controls .slider_controls {
      background: rgba(128, 128, 128, 0.7); }

.contact {
  display: flex;
  background-image: url("../img/first_screen.jpg");
  background-size: cover;
  height: 420px; }
  .contact .contact-content {
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%; }
    .contact .contact-content h2 {
      font-size: 24px;
      line-height: 69px;
      margin-bottom: 5%; }
    .contact .contact-content p {
      color: #FFFFFF;
      margin-bottom: 5%; }
    .contact .contact-content li {
      list-style: none;
      color: #FFFFFF; }
  .contact form {
    padding-top: 5%;
    padding-bottom: 5%;
    color: #FFFFFF; }
    .contact form input, .contact form textarea {
      background-color: transparent;
      border-bottom: 1px solid rgba(128, 128, 128, 0.7); }

.abous-us {
  display: flex;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%; }
  .abous-us .about-us_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%; }
    .abous-us .about-us_content h3 {
      color: #BDBDBD; }
    .abous-us .about-us_content h2 {
      font-size: 48px;
      line-height: 69px; }
      .abous-us .about-us_content h2 span {
        color: blue; }
  .abous-us .about-us_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; }
    .abous-us .about-us_block .about-us_item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: #EBEBEB;
      margin: 15px;
      width: 255px;
      height: 255px;
      cursor: pointer; }
      .abous-us .about-us_block .about-us_item:hover {
        background-color: rgba(0, 95, 163, 0.65); }

.footer {
  display: flex;
  justify-content: space-around;
  padding-top: 1%;
  padding-bottom: 1%; }
  .footer div {
    font-family: "Lato", sans-serif; }

#icon-mobile, #icon-clock-o, #icon-envelope-o, #icon-map-marker {
  font-family: "icomoon"; }

#icon-mobile:before {
  content: "";
  margin-right: 5px; }

#icon-envelope-o:before {
  content: "";
  margin-right: 5px; }

#icon-clock-o:before {
  content: "";
  margin-right: 5px; }

#icon-map-marker:before {
  content: "";
  margin-right: 5px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h2, h1 {
  font-family: "Merriweather", serif; }

p, .btn, .our-services_item li, input, textarea {
  font-family: "Lato", sans-serif; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #005FA3;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  width: 270px;
  height: 60px;
  cursor: pointer; }

.slider_btn-next, .slider_btn-prev {
  font-family: "icomoon";
  width: 50px;
  height: 50px;
  background: rgba(128, 128, 128, 0.7);
  border: 1px;
  margin: 1px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer; }

.slider_btn-next:before {
  content: ""; }

.slider_btn-prev:before {
  content: ""; }

.slider_controls {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  border: 1px;
  margin: 30px; }

/*# sourceMappingURL=main.css.map */
