@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f7f7f7;
  font-family: Roboto, "sans-serif"; }

.font_banner .logo button, .using_card .using_card_top .using_card_content .btn_try, .btn_try {
  color: #e56b22;
  border: 1px solid #e56b22;
  border-radius: 1px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 20px;
  outline: none;
  cursor: pointer; }
  .font_banner .logo button:hover, .using_card .using_card_top .using_card_content .btn_try:hover, .btn_try:hover {
    background-color: orangered;
    color: white; }

.using_card .using_card_bottom .using_card_step1 div, .using_card .using_card_bottom .using_card_step2 div, .using_card .using_card_bottom .using_card_step3 div {
  color: white;
  margin: 30px;
  font-size: 20px; }

.map, .full_key, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%; }

.using_card h2, .map h2, .full_key h2 {
  text-align: center;
  margin: 32px 0 20px 0; }

.font_banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 670px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/font_banner.jpg");
  background-size: cover;
  background-position: center; }
  .font_banner .logo {
    position: fixed;
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(39, 49, 42, 0.4); }
    .font_banner .logo .logo-image {
      margin-left: 5%; }
    .font_banner .logo button {
      margin-left: 60%; }
    .font_banner .logo .burger {
      margin-right: 5%; }
      .font_banner .logo .burger div {
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
        cursor: pointer;
        transition: all 0.3s ease; }
  .font_banner .font_content {
    display: flex;
    width: 50%;
    padding-top: 15%; }
    .font_banner .font_content .font_text {
      color: white; }
      .font_banner .font_content .font_text h1 {
        font-size: 45px;
        letter-spacing: 1px; }
      .font_banner .font_content .font_text h4 {
        font-weight: 100; }
    .font_banner .font_content .font_sticker {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 50%;
      background-color: #ff7112;
      height: 90px;
      width: 90px;
      padding: 10px;
      margin-left: 20px; }
      .font_banner .font_content .font_sticker span {
        color: white;
        font-weight: 100;
        white-space: nowrap; }
      .font_banner .font_content .font_sticker .font_sticker-sum {
        font-size: 36px;
        font-weight: 500; }
  .font_banner .slider {
    display: flex;
    justify-content: space-around;
    height: 12vh;
    width: 5%; }
    .font_banner .slider #slider1 {
      background-color: white;
      height: 6px;
      width: 6px;
      border-radius: 50%; }
    .font_banner .slider #slider2, .font_banner .slider #slider3 {
      background-color: white;
      height: 3px;
      width: 3px;
      border-radius: 50%; }

.search_form_input {
  height: 50px;
  width: 458px;
  border: none;
  padding: 20px;
  font-size: 20px;
  outline: none;
  float: left;
  border-right: 1px solid #afafaf; }
  .search_form_input::placeholder {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
    color: #afafaf; }

.search_form_select {
  height: 50px;
  width: 278px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  float: left; }

.search_form_btn {
  height: 50px;
  width: 182px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #0fae58;
  color: white;
  cursor: pointer; }

.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .partners h2 {
    margin: 32px 0 32px 0; }
  .partners div {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px; }

.using_card {
  margin-left: 5%;
  margin-right: 5%; }
  .using_card .using_card_top {
    display: flex; }
    .using_card .using_card_top .font_card {
      height: 484px;
      width: 68.3%;
      background-image: url("../img/cards.png");
      background-size: cover;
      background-position: center; }
    .using_card .using_card_top .using_card_content {
      display: flex;
      height: 484px;
      width: 31.7%;
      flex-direction: column;
      color: white;
      background-color: #27312a; }
      .using_card .using_card_top .using_card_content .using_card_text {
        margin: 40px 40px 20px 40px; }
        .using_card .using_card_top .using_card_content .using_card_text h3 {
          margin-bottom: 20px; }
        .using_card .using_card_top .using_card_content .using_card_text p {
          font-size: 14px;
          word-spacing: 4px; }
      .using_card .using_card_top .using_card_content .btn_try {
        margin: 0 40px; }
  .using_card .using_card_bottom {
    display: flex;
    justify-content: space-between;
    font-size: 0; }
    .using_card .using_card_bottom .using_card_step1 {
      height: 222px;
      background: linear-gradient(rgba(216, 136, 85, 0.8), rgba(216, 136, 85, 0.8)), url("../img/step1.jpg");
      background-size: cover; }
      .using_card .using_card_bottom .using_card_step1 .step1 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #ff7112;
        color: white;
        margin: 30px; }
    .using_card .using_card_bottom .using_card_step2 {
      height: 222px;
      background: linear-gradient(rgba(103, 174, 116, 0.8), rgba(103, 174, 116, 0.8)), url("../img/step2.jpg");
      background-size: cover; }
      .using_card .using_card_bottom .using_card_step2 .step2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #0fae58;
        color: white;
        margin: 30px; }
    .using_card .using_card_bottom .using_card_step3 {
      height: 222px;
      background: linear-gradient(rgba(112, 137, 115, 0.8), rgba(112, 137, 115, 0.8)), url("../img/step3.jpg");
      background-size: cover; }
      .using_card .using_card_bottom .using_card_step3 .step3 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #27312a;
        color: white;
        margin: 30px; }

.map .map_img {
  display: flex;
  justify-content: center;
  background-image: url("../img/map.png");
  background-size: cover;
  background-position: center;
  height: 570px; }
  .map .map_img .search_form {
    margin-top: 85px; }

.btn_try {
  margin: 30px 450px; }

.full_key .full_key_content {
  display: flex;
  flex-wrap: wrap; }
  .full_key .full_key_content div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 115px;
    width: 50%;
    background-color: white; }
    .full_key .full_key_content div:nth-child(odd):not(:last-child) {
      border-right: 1px solid #f7f7f7;
      border-bottom: 1px solid #f7f7f7; }
    .full_key .full_key_content div:nth-child(even):not(:last-child) {
      border-bottom: 1px solid #f7f7f7; }
    .full_key .full_key_content div span {
      margin: 0 30px;
      padding: 7px;
      font-weight: bold;
      text-align: center;
      height: 34px;
      width: 60px;
      background-color: #0fae58;
      color: white;
      border-radius: 5px; }
    .full_key .full_key_content div p {
      margin-right: 30px; }
    .full_key .full_key_content div .shape {
      background-image: linear-gradient(135deg, transparent 49%, white, transparent 54%); }
    .full_key .full_key_content div .phone, .full_key .full_key_content div .cutlery, .full_key .full_key_content div .sphere {
      font-family: "icomoon"; }
    .full_key .full_key_content div .phone:before {
      content: ""; }
    .full_key .full_key_content div .cutlery:before {
      content: ""; }
    .full_key .full_key_content div .sphere:before {
      content: ""; }

.btn_try {
  margin: 30px 450px; }

footer {
  background-color: #27312a; }
  footer .footer_top {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px; }
    footer .footer_top .social-links {
      display: flex; }
      footer .footer_top .social-links .fab {
        color: white;
        cursor: pointer;
        font-size: 36px;
        margin: 5px; }
        footer .footer_top .social-links .fab:hover {
          color: #e56b22; }
  footer .footer_middle {
    display: flex;
    height: 235px;
    margin: 0 60px;
    border-top: 2px solid #5e5e5e;
    border-bottom: 2px solid #5e5e5e; }
    footer .footer_middle .menu-block {
      width: 15%;
      margin-right: 30px;
      margin-top: 30px; }
      footer .footer_middle .menu-block .menu-block_title {
        white-space: nowrap;
        text-transform: uppercase;
        color: #e48c05;
        letter-spacing: 1px;
        font-size: 13px;
        padding-bottom: 15px; }
      footer .footer_middle .menu-block .menu-block_list {
        line-height: 150%; }
        footer .footer_middle .menu-block .menu-block_list li {
          list-style: none;
          white-space: nowrap;
          font-size: 14px; }
        footer .footer_middle .menu-block .menu-block_list a {
          text-decoration: none;
          color: white; }
          footer .footer_middle .menu-block .menu-block_list a:hover {
            text-decoration: underline; }
    footer .footer_middle .subscribe-block {
      width: 30%;
      line-height: 150%;
      margin-top: 30px; }
      footer .footer_middle .subscribe-block input {
        height: 50px;
        width: 85%;
        border: 1px solid white;
        background-color: #27312a;
        padding: 20px;
        font-size: 20px;
        color: white;
        border-right: none;
        outline: none;
        float: left; }
        footer .footer_middle .subscribe-block input::placeholder {
          letter-spacing: 1px;
          font-weight: bold;
          font-size: 20px;
          color: #afafaf; }
      footer .footer_middle .subscribe-block p {
        color: white;
        font-size: 14px;
        padding-bottom: 10px; }
      footer .footer_middle .subscribe-block button {
        height: 50px;
        border: 1px solid white;
        background-color: #27312a;
        padding: 0 10px;
        font-size: 20px;
        color: white;
        cursor: pointer;
        border-left: none; }
        footer .footer_middle .subscribe-block button:hover {
          color: #e56b22; }
  footer .footer_bottom {
    height: 100px;
    padding-left: 60px; }
    footer .footer_bottom p {
      color: white;
      margin-top: 30px; }

.toggle1 {
  transform: rotate(-45deg) translate(-5px, 6px); }

.toggle2 {
  opacity: 0; }

.toggle3 {
  transform: rotate(45deg) translate(-5px, -6px); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f7f7f7;
  font-family: Roboto, "sans-serif"; }

.font_banner .logo button, .using_card .using_card_top .using_card_content .btn_try, .btn_try {
  color: #e56b22;
  border: 1px solid #e56b22;
  border-radius: 1px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 20px;
  outline: none;
  cursor: pointer; }
  .font_banner .logo button:hover, .using_card .using_card_top .using_card_content .btn_try:hover, .btn_try:hover {
    background-color: orangered;
    color: white; }

.using_card .using_card_bottom .using_card_step1 div, .using_card .using_card_bottom .using_card_step2 div, .using_card .using_card_bottom .using_card_step3 div {
  color: white;
  margin: 30px;
  font-size: 20px; }

.map, .full_key, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%; }

.using_card h2, .map h2, .full_key h2 {
  text-align: center;
  margin: 32px 0 20px 0; }

.burger-inner {
  display: flex;
  height: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #27312a;
  overflow: hidden;
  animation: close 0.5s ease-in-out; }
  .burger-inner .burger-inner_select {
    padding: 12vh 0 0 60px; }
    .burger-inner .burger-inner_select div {
      height: 50%; }
      .burger-inner .burger-inner_select div h3 {
        text-transform: uppercase;
        color: #0fae58;
        letter-spacing: 1px;
        font-size: 13px;
        padding-bottom: 15px; }
      .burger-inner .burger-inner_select div select {
        background-color: #27312a;
        color: white;
        width: 100%;
        height: 50%;
        font-size: 14px;
        border: none;
        outline: none; }
        .burger-inner .burger-inner_select div select::-webkit-scrollbar {
          width: 2px;
          background-color: #5e5e5e; }
        .burger-inner .burger-inner_select div select::-webkit-scrollbar-thumb {
          background-color: white; }
        .burger-inner .burger-inner_select div select option {
          margin: 5px;
          cursor: pointer; }
          .burger-inner .burger-inner_select div select option:hover {
            color: #e56b22; }
  .burger-inner .burger-inner_menu {
    margin-left: 100px;
    padding-top: 12vh; }
    .burger-inner .burger-inner_menu div {
      display: flex;
      height: 235px; }
      .burger-inner .burger-inner_menu div .menu-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 30px; }
        .burger-inner .burger-inner_menu div .menu-block .menu-block_title {
          white-space: nowrap;
          text-transform: uppercase;
          color: #e48c05;
          letter-spacing: 1px;
          font-size: 13px;
          padding-bottom: 15px; }
        .burger-inner .burger-inner_menu div .menu-block .menu-block_list {
          line-height: 150%; }
          .burger-inner .burger-inner_menu div .menu-block .menu-block_list li {
            list-style: none;
            white-space: nowrap;
            font-size: 14px; }
          .burger-inner .burger-inner_menu div .menu-block .menu-block_list a {
            text-decoration: none;
            color: white; }
            .burger-inner .burger-inner_menu div .menu-block .menu-block_list a:hover {
              text-decoration: underline; }
    .burger-inner .burger-inner_menu .burger-inner_banner {
      margin-top: -12vh;
      background-image: url("../img/burgers.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .burger-inner .burger-inner_menu .burger-inner_banner h1 {
        color: white;
        font-size: 45px;
        letter-spacing: 1px; }
      .burger-inner .burger-inner_menu .burger-inner_banner h5, .burger-inner .burger-inner_menu .burger-inner_banner h6 {
        color: white; }
      .burger-inner .burger-inner_menu .burger-inner_banner button {
        color: white;
        border-radius: 5px;
        background-color: #84bd00;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px 70px;
        outline: none;
        cursor: pointer;
        margin: 5px 0;
        border: 1px solid; }
        .burger-inner .burger-inner_menu .burger-inner_banner button:hover {
          background-color: transparent;
          color: #84bd00;
          border: 1px solid #84bd00; }
    .burger-inner .burger-inner_menu .subscribe-block {
      display: flex;
      justify-content: space-between;
      line-height: 150%; }
      .burger-inner .burger-inner_menu .subscribe-block form {
        width: 45%; }
        .burger-inner .burger-inner_menu .subscribe-block form input {
          height: 50px;
          width: 85%;
          border: 1px solid white;
          background-color: #27312a;
          padding: 20px;
          font-size: 20px;
          color: white;
          border-right: none;
          outline: none;
          float: left; }
          .burger-inner .burger-inner_menu .subscribe-block form input::placeholder {
            letter-spacing: 1px;
            font-weight: bold;
            font-size: 20px;
            color: #afafaf; }
        .burger-inner .burger-inner_menu .subscribe-block form p {
          color: white;
          font-size: 14px;
          padding-bottom: 10px; }
        .burger-inner .burger-inner_menu .subscribe-block form button {
          height: 50px;
          border: 1px solid white;
          background-color: #27312a;
          padding: 0 10px;
          font-size: 20px;
          color: white;
          cursor: pointer;
          border-left: none;
          outline: none; }
          .burger-inner .burger-inner_menu .subscribe-block form button:hover {
            color: #e56b22; }
      .burger-inner .burger-inner_menu .subscribe-block .social-links {
        display: flex; }
        .burger-inner .burger-inner_menu .subscribe-block .social-links .fab {
          color: white;
          cursor: pointer;
          font-size: 36px;
          margin: 5px; }
          .burger-inner .burger-inner_menu .subscribe-block .social-links .fab:hover {
            color: #e56b22; }

.active {
  height: 670px;
  animation: open 0.5s ease-in-out; }

@keyframes open {
  0% {
    height: 0px; }
  100% {
    height: 670px; } }
@keyframes close {
  0% {
    height: 670px; }
  100% {
    height: 0px; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f7f7f7;
  font-family: Roboto, "sans-serif"; }

.font_banner .logo button, .using_card .using_card_top .using_card_content .btn_try, .btn_try {
  color: #e56b22;
  border: 1px solid #e56b22;
  border-radius: 1px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 20px;
  outline: none;
  cursor: pointer; }
  .font_banner .logo button:hover, .using_card .using_card_top .using_card_content .btn_try:hover, .btn_try:hover {
    background-color: orangered;
    color: white; }

.using_card .using_card_bottom .using_card_step1 div, .using_card .using_card_bottom .using_card_step2 div, .using_card .using_card_bottom .using_card_step3 div {
  color: white;
  margin: 30px;
  font-size: 20px; }

.map, .full_key, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%; }

.using_card h2, .map h2, .full_key h2 {
  text-align: center;
  margin: 32px 0 20px 0; }

/*# sourceMappingURL=main.css.map */
