@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f7f7f7;
  font-family: Roboto, "sans-serif"; }

.font_banner .logo button, .using_card .using_card_top .using_card_content .btn_try, .btn_try {
  color: #e56b22;
  border: 1px solid #e56b22;
  border-radius: 1px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 20px;
  outline: none;
  cursor: pointer; }
  .font_banner .logo button:hover, .using_card .using_card_top .using_card_content .btn_try:hover, .btn_try:hover {
    background-color: orangered;
    color: white; }

.using_card .using_card_bottom .using_card_step1 div, .using_card .using_card_bottom .using_card_step2 div, .using_card .using_card_bottom .using_card_step3 div {
  color: white;
  margin: 30px;
  font-size: 20px; }

.map, .full_key, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%; }

.using_card h2, .map h2, .full_key h2 {
  text-align: center;
  margin: 32px 0 20px 0; }

.font_banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 670px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/font_banner.jpg");
  background-size: cover;
  background-position: center; }
  .font_banner .logo {
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .font_banner .logo .logo-image {
      margin-left: 5%; }
    .font_banner .logo button {
      margin-left: 60%; }
    .font_banner .logo .burger {
      margin-right: 5%; }
      .font_banner .logo .burger div {
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
        cursor: pointer; }
  .font_banner .font_content {
    display: flex;
    width: 50%; }
    .font_banner .font_content .font_text {
      color: white; }
      .font_banner .font_content .font_text h1 {
        font-size: 45px;
        letter-spacing: 1px; }
      .font_banner .font_content .font_text h4 {
        font-weight: 100; }
    .font_banner .font_content .font_sticker {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 50%;
      background-color: #ff7112;
      height: 90px;
      width: 90px;
      padding: 10px;
      margin-left: 20px; }
      .font_banner .font_content .font_sticker span {
        color: white;
        font-weight: 100;
        white-space: nowrap; }
      .font_banner .font_content .font_sticker .font_sticker-sum {
        font-size: 36px;
        font-weight: 500; }
  .font_banner .slider {
    display: flex;
    justify-content: space-around;
    height: 12vh;
    width: 5%; }
    .font_banner .slider #slider1 {
      background-color: white;
      height: 6px;
      width: 6px;
      border-radius: 50%; }
    .font_banner .slider #slider2, .font_banner .slider #slider3 {
      background-color: white;
      height: 3px;
      width: 3px;
      border-radius: 50%; }

.search_form_input {
  height: 50px;
  width: 458px;
  border: none;
  padding: 20px;
  font-size: 20px;
  float: left;
  border-right: 1px solid #afafaf; }
  .search_form_input::placeholder {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
    color: #afafaf; }

.search_form_select {
  height: 50px;
  width: 278px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  float: left; }

.search_form_btn {
  height: 50px;
  width: 182px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #0fae58;
  color: white;
  cursor: pointer; }

.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .partners h2 {
    margin: 32px 0 32px 0; }
  .partners div {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px; }

.using_card {
  margin-left: 5%;
  margin-right: 5%; }
  .using_card .using_card_top {
    display: flex; }
    .using_card .using_card_top .font_card {
      height: 484px;
      width: 68.3%;
      background-image: url("../img/cards.png");
      background-size: cover;
      background-position: center; }
    .using_card .using_card_top .using_card_content {
      display: flex;
      height: 484px;
      width: 31.7%;
      flex-direction: column;
      color: white;
      background-color: #27312a; }
      .using_card .using_card_top .using_card_content .using_card_text {
        margin: 40px 40px 20px 40px; }
        .using_card .using_card_top .using_card_content .using_card_text h3 {
          margin-bottom: 20px; }
        .using_card .using_card_top .using_card_content .using_card_text p {
          font-size: 14px;
          word-spacing: 4px; }
      .using_card .using_card_top .using_card_content .btn_try {
        margin: 0 40px; }
  .using_card .using_card_bottom {
    display: flex;
    justify-content: space-between;
    font-size: 0; }
    .using_card .using_card_bottom .using_card_step1 {
      height: 222px;
      background: linear-gradient(rgba(216, 136, 85, 0.8), rgba(216, 136, 85, 0.8)), url("../img/step1.jpg");
      background-size: cover; }
      .using_card .using_card_bottom .using_card_step1 .step1 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #ff7112;
        color: white;
        margin: 30px; }
    .using_card .using_card_bottom .using_card_step2 {
      height: 222px;
      background: linear-gradient(rgba(103, 174, 116, 0.8), rgba(103, 174, 116, 0.8)), url("../img/step2.jpg");
      background-size: cover; }
      .using_card .using_card_bottom .using_card_step2 .step2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #0fae58;
        color: white;
        margin: 30px; }
    .using_card .using_card_bottom .using_card_step3 {
      height: 222px;
      background: linear-gradient(rgba(112, 137, 115, 0.8), rgba(112, 137, 115, 0.8)), url("../img/step3.jpg");
      background-size: cover; }
      .using_card .using_card_bottom .using_card_step3 .step3 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: #27312a;
        color: white;
        margin: 30px; }

.map .map_img {
  display: flex;
  justify-content: center;
  background-image: url("../img/map.png");
  background-size: cover;
  background-position: center;
  height: 570px; }
  .map .map_img .search_form {
    margin-top: 85px; }

.btn_try {
  margin: 30px 450px; }

.full_key .full_key_content {
  display: flex;
  flex-wrap: wrap; }
  .full_key .full_key_content div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 115px;
    width: 50%;
    background-color: white; }
    .full_key .full_key_content div:nth-child(odd):not(:last-child) {
      border-right: 1px solid #f7f7f7;
      border-bottom: 1px solid #f7f7f7; }
    .full_key .full_key_content div:nth-child(even):not(:last-child) {
      border-bottom: 1px solid #f7f7f7; }
    .full_key .full_key_content div span {
      margin: 0 30px;
      padding: 7px;
      font-weight: bold;
      text-align: center;
      height: 34px;
      width: 60px;
      background-color: #0fae58;
      color: white;
      border-radius: 5px; }
    .full_key .full_key_content div p {
      margin-right: 30px; }
    .full_key .full_key_content div .shape {
      background-image: linear-gradient(135deg, transparent 49%, white, transparent 54%); }
    .full_key .full_key_content div .phone, .full_key .full_key_content div .cutlery, .full_key .full_key_content div .sphere {
      font-family: "icomoon"; }
    .full_key .full_key_content div .phone:before {
      content: ""; }
    .full_key .full_key_content div .cutlery:before {
      content: ""; }
    .full_key .full_key_content div .sphere:before {
      content: ""; }

.btn_try {
  margin: 30px 450px; }

footer {
  background-color: #27312a; }
  footer .footer_top {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center; }
    footer .footer_top .social-links img {
      width: 10%;
      margin: 5px; }
  footer .footer_middle {
    display: flex;
    height: 235px;
    justify-content: space-between; }
    footer .footer_middle .menu-block_list li {
      list-style: none; }
    footer .footer_middle .menu-block_list a {
      text-decoration: none;
      color: white; }
  footer .footer_bottom {
    display: flex;
    height: 100px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f7f7f7;
  font-family: Roboto, "sans-serif"; }

.font_banner .logo button, .using_card .using_card_top .using_card_content .btn_try, .btn_try {
  color: #e56b22;
  border: 1px solid #e56b22;
  border-radius: 1px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 20px;
  outline: none;
  cursor: pointer; }
  .font_banner .logo button:hover, .using_card .using_card_top .using_card_content .btn_try:hover, .btn_try:hover {
    background-color: orangered;
    color: white; }

.using_card .using_card_bottom .using_card_step1 div, .using_card .using_card_bottom .using_card_step2 div, .using_card .using_card_bottom .using_card_step3 div {
  color: white;
  margin: 30px;
  font-size: 20px; }

.map, .full_key, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%; }

.using_card h2, .map h2, .full_key h2 {
  text-align: center;
  margin: 32px 0 20px 0; }

/*# sourceMappingURL=main.css.map */
