
.abous-us
	display: flex
	margin-right: 10%
	margin-left:  10%
	padding-top: 5%
	padding-bottom: 5%
	.about-us_content
		display: flex
		flex-direction: column
		justify-content: space-around
		width: 50%
		h3
			color: #BDBDBD
		span
			color: blue
	.about-us_block
		display: flex
		flex-wrap: wrap
		.about-us_item
			display: flex
			align-items: center
			background: #EBEBEB
			margin: 15px
			width: 255px
			height: 255px
			cursor: pointer
			&:hover
				background-color: rgba(0, 95, 163, 0.65)



