.contact
	display: flex
	background-image: url('../img/first_screen.jpg')
	background-size: cover
	height: 420px
	.contact-content
		margin-right: 10%
		margin-left:  10%
		padding-top: 5%
		padding-bottom: 5%
		h2
			font-size: 24px
			line-height: 69px
			margin-bottom: 5%
		p
			color: #FFFFFF
			margin-bottom: 5%
		li
			list-style: none
			color: #FFFFFF
	form
		padding-top: 5%
		padding-bottom: 5%
		color: #FFFFFF
		input,textarea
			background-color: transparent
			border-bottom: 1px solid rgba(128,128,128,0.7)
	

