.first-screen
	background-image: url('../img/first_screen.jpg')
	background-size: cover
	height: 670px
	h1
		font-family: Merriweather
		font-style: normal
		font-weight: bold
		font-size: 48px
		line-height: 66px
		color: #FFFFFF

