body {
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    background-color: #27312a;
    width: 1000px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.flex div {
    border-top: 1px solid #5e5e5e;
    border-bottom: 1px solid #5e5e5e;
}

.block_header {
    color: #ff9900;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    width: 300px;
    padding-top: 10px;
}

.block_text {
    color: #c9cbca;
    font-size: 14px;
    font-weight: 100;
    width: 250px;
    margin: auto;
    text-align: justify;
    text-transform: none;
    padding-bottom: 20px;
}
