*,
*::before,
*::after {
    box-sizing: border-box;
}
.menu {
    font-family: 'Roboto', sans-serif;
}

a {
    display: block;
    width: 100%;
    height: 100%;
}

.menu-opener, .menu-opener.hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active, .menu-link {
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: ease-out;
}

.menu-opener {
    cursor: pointer;
    float: right;
    width: 64px;
    height: 64px;
    top: 2%;
    left: 1%;
    user-select: none;  
}

.menu-opener-inner {
    background: grey;
    height: .5rem;
    margin-left: .75rem;
    margin-top: 1.75rem;
    width: 2.5rem;
}

.menu-opener-inner::before, .menu-opener-inner::after {
    background: grey;
    content: '';
    display: block;
    height: .5rem;
    width: 2.5rem;
}

.menu-opener-inner::before {
    transform: translateY(-0.75rem);
}
.menu-opener-inner::after {
    transform: translateY(0.25rem);
}

.menu-opener-inner.active {
    background: transparent;
}

.menu-opener-inner.active::before {
    transform: translateY(0rem) rotate(-45deg);
}

.menu-opener-inner.active::after {
    transform: translateY(-0.5rem) rotate(45deg);
}

.menu {
    color: transparent;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 2%;
    left: 1%;
    user-select: none;
    width: 0rem;
    z-index: -1;
}

.menu.active {
    width: 98vw;
}

.menu.active .menu-link {
    color: grey;
}

.menu-inner {
    display: flex;
    flex-direction: row;
    height: 100%;
    list-style-type: none;
    margin: 0;
    margin-left: 4rem;
    padding: 0;
}

.menu-link {
    color: transparent;
    display: flex;
    flex: 1 1 auto;
    font-size: 1rem;
    font-weight: 100;
    height: 100%;
    text-align: center;
    text-decoration: none;
}

.menu-link li {
    margin: auto;
}

@media screen and (max-width: 768px) {
    .menu {
        height: auto;
    }
    .menu-inner {
        display: block;
    }
    .menu-link {
        padding: 10px 0;
        font-size: 1.2em;
    }
    .menu.active {
        width: calc(100%-0.5rem);
    }
}


.using_card__block {
    display: flex;
    width: 100%;
    color: #f7f7f7;
    margin-bottom: 60px;
}

.using_card__img {
    background-image: url(C:\Users\Денис\Desktop\site\html3\img\cards.png);
    background-size: cover;
    width: 66.66%;
    height: 400px;
}

.using_card__texts {
    background-color: #27312a;
    width: 33.33%;
    font-size: 12px;
    line-height: 16px;
    height: 400px;
    text-align: left;
    padding: 30px 25px 30px 25px;
    box-sizing: border-box;
}

.btn_try {
    padding: 15px 45px;
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 80%;
    text-align: center;
}

.using_card__step-text {
    padding: 130px 50px 30px 30px;
    text-align: left;
    font-size: 1.2vw;
    line-height: 1.5vw;
    font-weight: bold;
}

.map_img {
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    margin-bottom: 40px;
    padding-top: 10px;
}

.page-footer__menu {
    width: 85%;
    display: flex;
}

.page-footer__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3d4340;
}

.page-footer__middle {
    display: flex;
    border-bottom: 1px solid #3d4340;
    padding: 40px;
}

.page-footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
